---
layout: default
title: CSE4316 Elective (4) - Robots
---
	<div class="about">
			<h1>CSE4316: Elective (4) - Robots</h1>
			
			<h2>Course Description</h2>
			<h2>Lectures</h2>
			
			<ol class="contacts">
<li><a href="lectures/CSE4316RobotsLec1.pdf">Lecture 1: Robotic Fundamentals</a>
	<a target="_blank" class="noCrossRef" href="lectures/CSE4316RobotsLec1.pdf"><button type="button" class="btn btn-default" aria-label="Left Align"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> PDF Download</button></a></li>				

<li><a href="lectures/CSE4316RobotsLec2.pdf">Lecture 2: Robot Morphology</a> 
    <a target="_blank" class="noCrossRef" href="lectures/CSE4316RobotsLec2.pdf"><button type="button" class="btn btn-default" aria-label="Left Align"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> PDF Download</button></a></li>

<li><a href="lectures/CSE4316RobotsLec3.pdf">Lecture 3: Robot Kinematics</a> 
	<a target="_blank" class="noCrossRef" href="lectures/CSE4316RobotsLec3.pdf"> <button type="button" class="btn btn-default" aria-label="Left Align"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> PDF Download</button></a></li>
			
<li><a href="lectures/CSE4316RobotsLec4.pdf"> Lecture 4: Robot Kinematics (cont.)</a> <a target="_blank" class="noCrossRef" href="lectures/CSE4316RobotsLec4.pdf"> <button type="button" class="btn btn-default" aria-label="Left Align"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> PDF Download</button></a></li>
			
<li><a href="lectures/CSE4316RobotsLec5.pdf"> Lecture 5: Robot Kinematics (cont.)</a> <a target="_blank" class="noCrossRef" href="lectures/CSE4316RobotsLec5.pdf"> <button type="button" class="btn btn-default" aria-label="Left Align"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> PDF Download</button></a></li>

			</ol>	
			
			<h2>Announcements</h2>
			<h2>Homework & Assignments</h2>
			<h2>Projects</h2>
			Here you will find details, ideas, resources for the projects we do and robots we make in this course. I have organized them in the following catigories:
			<ul class="contacts">
			  <li><a href="projects/mobileRobots">Mobile Robots</a>
			  <li><a href="projects/manipulatorRobots">Manipulators and Robot Arms</a>
			  <li><a href="projects/robotSoftware">Robotic Related Software</a>
			</ul>
			
			<h2>Forms and Docs</h2>
			
			{% include youtubePlayer.html id=1EKhtMzUeRc %}
			
			<!-- {% include youtubePlayer.html id=page.https://www.youtube.com/watch?v=1EKhtMzUeRc %}

			{% include youtubePlayer.html id=page.1EKhtMzUeRc %}
			 -->
			
			
			
			
			
			<h2>Past Exams for Study</h2>
			In case you want to try exams first without solutions....
<ul class="contacts">
<li><a href="lectures/CSE629-Robotics-2017-Final.pdf">CSE629-Robotics-2017-Final</a>
	<a target="_blank" class="noCrossRef" href="lectures/CSE629-Robotics-2017-Final.pdf"><button type="button" class="btn btn-default" aria-label="Left Align"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> PDF Download</button></a></li>
	
<li><a href="lectures/CSE4316-Robotics-2016-MidtermExam.pdf">CSE4316-Robotics-2016-MidtermExam</a>
	<a target="_blank" class="noCrossRef" href="lectures/CSE629-Robotics-2017-Final.pdf"><button type="button" class="btn btn-default" aria-label="Left Align"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> PDF Download</button></a></li>
		
</ul>				
				
Here are the solutions. Please report to me any errors that you find in these solutions so that I can make corrections.
<ul class="contacts">
<li><a href="lectures/CSE629-Robotics-2017-FinalSolution.pdf">CSE629-Robotics-2017-Final Solution</a>
	<a target="_blank" class="noCrossRef" href="lectures/CSE629-Robotics-2017-FinalSolution.pdf"><button type="button" class="btn btn-default" aria-label="Left Align"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> PDF Download</button></a></li>

<li><a href="lectures/CSE4316-Robotics-2016-MidtermExam-Solution.pdf">CSE4316-Robotics-2016-MidtermExam Solution</a>
	<a target="_blank" class="noCrossRef" href="lectures/CSE629-Robotics-2017-Final.pdf"><button type="button" class="btn btn-default" aria-label="Left Align"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> PDF Download</button></a></li>
		
	
</ul>		
</div>
