<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <!-- <link rel="stylesheet" type="text/css" href="/css/main.css"> -->
	<link rel="stylesheet" href="{{ site.baseurl }}/css/main.css" media="screen">
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/specialTableStyle.css">
   
   
   
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
 
 
 <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <link rel="stylesheet" href="{{ site.baseurl }}/css/academicons.css"/>
 
 
 
 <script type="text/x-mathjax-config">
   MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
 </script>
 <script type="text/javascript" async
   src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML">
 </script>
 
  <!-- {% if page.use_math %}
        {% include mathjax_support %}
      {% endif %} -->
  </head>


  <body>
    <nav>
<ul>
<li><a href="/"><i class="icon-fixed-width icon-home"></i> Home</a></li>
<li><a href="/courses.html"><i class="icon-fixed-width icon-book"></i> Courses</a></li>
<li><a href="/about"><i class="icon-fixed-width icon-pencil"></i> About</a></li>
<li><a href="/cv"><i class="icon-user"></i> CV</a></li>
<li><a href="/blog"><i class="icon-fixed-width icon-cogs"></i> Blog</a></li>
</ul>


    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a target="_blank" href="mailto:mnahmed@eng.zu.edu.eg" title="send email to me"><i class="fa fa-envelope" aria-hidden="true"></i> Email</a></li>
   <li><a target="_blank" href="https://www.researchgate.net/profile/Mohammed_Nour_Abdelgwad_Ahmed" title="my profile on ResearchGate"><i class="ai ai-researchgate-square"></i> ResearchGate</a></li>
   <li><a target="_blank" href="https://github.com/mnourgwad" title="my Github repository"><i class="fa fa-github"></i> Github</a></li>
   <li><a target="_blank" href="https://scholar.google.de/citations?user=hcl9vXUAAAAJ&hl=en" title="my profile on Google Scholar"><i class="ai ai-google-scholar-square"></i> Google Scholar</a></li>
   <li><a target="_blank" href="./site.html" title="License"><i class="fa fa-copyright"></i>2017 design and most content: [(CC) BY NC SA]</a></li>
   </ul>
  </footer>
  <script src="javascripts/scale.fix.js"></script>
  </body>

</html>
